@charset "utf-8";
/* CSS Document */


body
{
	background:red;
}

.wrapper
{
	width:1000px;
	height:600px;
	background:white;
	text-align: center;
}


.player
{
	width:400px;
	height:500px;
	background:grey;
	float:left;
	margin:40px;
}

.player img
{
	width: 400px;
}


.play_btn
{
	clear:both;
	display: inline-block;
	background: blue;
	width:200px;
	text-align: center;
    font-size: 40px;
    color:white;
	cursor: pointer;
}


